html, 
	body
		{
		font-family: Arial, sans-serif;
		margin: 0;
		}
	header
		{
		background-color: #F26C75;
		padding:40px;
		text-align: center;
		}
	wrapper content image img{
		width: 500px;
		height: 500px;
	}
	h1
		{
		font-family: Comic-Sans-MS;
		font-size: 90px;
		color: white;
		}
	header img
		{
		border-radius: 174px;
 		width: 300px;
 		border: 24px solid #FFFFFF;
		}
		.content
		{
		max-width: 900px;
		margin: 0 auto;
		padding: 0 20px;
		}

	}
	img.big-image
		{
		max-width: 100%;
		}
		p.caption
		{
		font-size: 16px;
		color: lightgrey;
		font-style: italic;
		}

	ul
		{
		list-style: none;
		padding: 0;
		margin: 0;
		}
	a
		{
		color: red;
		text-decoration: none;
		}

	footer
		{
		margin-top: 20px;
		padding: 40px 20px;
		background-color: #E6E6E6;
		}
	footer ul
		{
		text-align: center;
		}
	footer ul li
	{
	display: inline-block;
	margin: 0 5px;
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
